<section id="mainSection" class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= title %>
      </h1>
      <h3 class="subtitle">
        This is a simple express.js site.
      </h3>
      <a href="/about" class="button is-white is-outlined">Read More</a>
    </div>
  </div>
</section>
